@import "tailwindcss";

@theme {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-border: hsl(var(--border));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-primary-darker: hsl(var(--primary-darker));

    --color-card: hsl(var(--card));

    --color-secondary: hsl(var(--secondary));

}

@layer base {
    :root {
        --background: 271 20% 95%;
        --foreground: 271 33% 20%;
        --primary: 271 30% 65%;
        --primary-foreground: 271 28.6% 100%;
        --primary-darker: 271 35% 55%;
        --card: 271 32% 100%;
        --secondary: 271 15% 85%
    }

    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}
